.ttt-container{
  display: grid;
  width: 500px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 33.33%);
  grid-template-rows: repeat(3,100px);
  div{
    border-bottom: 1px solid #000;
    &:nth-child(n + 7){
      border-bottom: none;
    }
    &:nth-child(3n + 1){
      border-right: 1px solid #000;
    }
     &:nth-child(3n){
      border-left: 1px solid #000;
    }
  }
}
.player-turns{
  font-weight: bold;
}
.p1-active{
  background: yellow;
  &:after{
    content: 'X';
  }
}
.p2-active{
  background: royalblue;
  &:after{
    content: 'O';
  }
}
